body {
	background: #1E222D;
	height: calc(100vh - 28pt);
	min-height: 460px;
	max-width: calc(100vw - 28pt);
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 30pt;
	line-height:30pt;
	text-align: center;
	color: #ffffff;
}