body {
  background-color: #000;
  margin: 30pt;
  border: 6pt solid #fff;
  padding: 20pt;
}

#morphing {
  width: 56pt;
  height: 56pt;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  font-family: 'Open Sans', sans-serif;
  line-height: 50pt;
  font-size: 50pt;
  color: #fff;
  text-align: center;
  margin-top: 130pt;
  display: flex;
  justify-content: center;
  align-items: center;
}